<div class="container-fluid trc">
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-5 offset-sm-2">
                <img src="assets/images/Asset 2.png" class="img-fluid border-0 pt-5 pb-5">
               </div>
               <div class="col-sm-8 offset-sm-2">
                   <h2  class="text-light">Welcome!</h2> 
                <p class="pb-5 pt-4 text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat nec arcu nec semper. Maecenas enim magna, feugiat quis aliquet non, malesuada eget magna.sapien elit fermentum purus, non rutrum purus diam eget urna. Nulla imperdiet aliquam placerat. Mauris luctus consectetur urna et commodo. Aenean molestie vehicula est.</p>
            </div>
            
        </div>
        <div class="col-sm-5">
      <app-login></app-login>
        </div>
        
    </div>
</div>